*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    /* font-family: 'Open Sans', sans-serif; */
    /* font-size: 16px; */
    /* line-height: 1.5; */
    /* color: #333; */
    background: white;
}
.container
{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    align-self: center;
    align-content: center;
    height: 60%;
    width: 90%;
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
     /* margin-top: 5%;
    margin-bottom: 5%;*/
   margin-right: 7%;
    margin-left: 7%;
    /*border-radius: 8%; */
    background-color: white;
    /* flex-wrap: wrap; */
}
.head
{
    display: flex;
    /* height: 1cm; */
    /* width: 5cm; */
    height: 5%;
    width: 100%;
    border-radius: 50px;
    /* margin-top: 10%; */
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    flex-wrap: wrap;

}
.summary
{
    
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    /* align-self: center; */
}
.details
{
    font-size: medium;
    opacity: 60%;
    word-wrap: break-word;
    text-align: center;
}
.grid-part
{
    display: grid;
    border-radius: 40%;
    align-content: center;
    align-items: center;

}
.musicc
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 90%;
    margin:2%;
    padding: 5%;
    color: black;
    background-color: rgb(135, 176, 209);
    box-shadow: black(17,12);
    align-items: center;
    border-radius: 30px;
    height: 70%;

}
.icon
{
    border-radius: 100%;
    border-color: blueviolet;
}
.price
{
    display: flex;
    margin-top: 20%;
    margin-right: 0;
  
}
.change
{
    color: black;
    text-decoration: none;
    cursor:grab;
}
.change:hover{
    color: rgb(138, 40, 117);
}
.payment
{
    display: flex;
    background-color: rgb(66, 65, 65);
    color: rgb(255, 255, 255);
    height: 50px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
    margin-bottom: 50px;
    border-radius: 30px;
    margin-right: 40px;
    margin-right: 40px;
    flex-wrap: wrap;
    text-decoration: none;
    cursor:grab;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.payment:hover{
    color: cornflowerblue;
}
.cancel
{
    display: flex;
    background-color: rgb(135, 176, 209);
    height: 50px;
    color: black;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
    margin-bottom: 50px;
    border-radius: 30px;
    margin-right: 40px;
    margin-right: 40px;
    flex-wrap: wrap;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor:grab;
}
.cancel:hover{
    color: rgb(94, 11, 11);
}